<%- include('../partials/header') %>
    <div class="container text-center d-flex align-items-center justify-content-center vh-100">
        <div class="card" style="width: 40rem;">
            <img src="<%= skill.url %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= skill.skill %>
                </h5>
                <hr>
                <p class="card-text">
                    <%= skill.description %>
                </p>
                <hr>
                <a href="/skills" class="btn btn-primary mt-3">View All Skills</a>
                <form method="POST" action="/skills/<%= skill.id %>?_method=DELETE">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-danger mt-4">Delete Skill</button>
                    </div>
                </form>
                <form method="GET" action="/skills/<%= skill.id %>/edit">
                    <div class=" mb-3">
                        <button type="submit" class="btn btn-warning mt-2">Edit Skill</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>